*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

.navbar{
    position: fixed;
    margin: 16px;
    z-index: 1000;
    padding-left: 285px;
    padding-top: 5px;
}

.cross_icon{
    width: 40px;
}

.hero_container{
    position: relative;
    top: 51px;
    width: 100%;
    height: 565px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero_facebook_icon{
    width: 17%;
}

.hero_brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand_img{
    width: 52%;
}

.hero_text_row1{
    font-size: 15px;
    color: #333;
    padding-top: 10px;
}

.hero_text_row2,.hero_text_row3,.hero_text_row4,.hero_text_row5,.hero_text_row6{
    font-size: 13px;
    font-weight: 600;
    padding: 1rem;
    transform: scaleY(110%);
}

a{
    text-decoration: none;
    color: inherit;
}


@media (min-width: 1024px){

    .hero_facebook_icon{
        width: 4.5%;
    }

    .brand_img{
        width: 14%;
    }

    .navbar{
        right: 4.5px;
        padding-top: 4px;
    }

    .hero_container{
        top: 75px;
    }

    .hero_text_row1{
        padding-top: 5px;
    }
}